*{
    margin:0%;
    padding: 0%;
}
.contain{
 text-align: center;
 padding: 100px;
}
.buttons{
    padding: 40px;
}
input.btn{
font-size:20px;
height: 50px;
width: 120px;
border: 4px solid black;
margin: 10px;
}
input.btnmul{
    font-size:20px;
    height: 50px;
    width: 140px;
    border: 4px solid black;
    margin: 10px; 
}
input.txt{
    height: 50px;
    width:250px;
    border:4px solid black;
    margin-top:20px;
    margin-bottom: 20px;
}
label{
    font-size: 25px;
    padding: 1px;
}
